@model MobileWorld.Entities.SanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color: red;">Xóa</h1>

<h3>Bạn muốn xóa nó?</h3>
<div>
    <h4>Sản phẩm</h4>
    <hr />
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("<<Trở về", "Index")
        </div>
    }
</div>
