<a href="@Url.Action("GioHang", "GioHang")" style="cursor: pointer; z-index: 1; position: fixed; right: 20px; top: 50px;" data-toggle="tooltip" title="Giỏ hàng">
	<i style="font-size: 20px; color: red;" class="fa fa-cart-plus">(@ViewBag.TongSoLuong)</i>
</a>